@model TastebudsGalore.Models.Item;
@{
    ViewData["Title"] = "Details for " + Model.Product.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Product.Name</h1>
    <img src="@($"/images/{Model.Id}.jpg")" alt="@Model.Product.Name"
         class="img-thumbnail"
         height="320" width="320" />
    <p>@Model.Product.Description</p>
    <p>@Model.Price.ToString("C")</p>
    <div>
        <a class="btn btn-primary"
           asp-action="AddToCart"
           asp-controller="Home"
           asp-route-itemId="@Model.Id">Add to cart</a>
    </div>
</div>
